.banner {
  background: rgb(240, 204, 235);

  .banner-text {
    margin: 0 auto;
    max-width: 200px;
    font-weight: bold;

    a:link,
    a:visited,
    a:active,
    a:hover {
      color: #7741b5;
      text-decoration: none;
    }
  }
}
